.transaction-filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-right: 8px;
    justify-content: flex-end;
}

.filters{
    position: relative;
}

.open-filters{
    width: 38px;
    height: auto;
    cursor: pointer;
}

.sort{
    border-radius: 8px;
    height: 34px;
}

.filters-block{
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: absolute;
    top: 10;
    left: 0;
    background-color: white;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--medium-light-gray-primary-color);
    padding: 10px 6px;
}

.filter-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-inputs label{
    color: var(--gray-primary-color);
    width: 84px;
    text-align: center;
}

.filter-inputs input{
    width: 124px;
    margin-left: 4px;
}

.filters-block button{
    background-color: var(--dark-primary-color);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 4px 0;
    width: 200px;
    border: none;
    cursor: pointer;
}

.close-filters{
    height: 18px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: -2px;
}

.filter-cross{
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-filter{
    height: 8px;
    width: auto;
    cursor: pointer;
}