.error.disabled{
    display: none;
}
.disabled{
    display: none;
}
.error-block{
    margin-top: -4px;
}
.error-block li{
    margin-top: 6px;
}
.description{
    text-align: center;
    margin-top: -10px;
    margin-bottom: -2px;
    color: var(--medium-heavy-gray-primary-color);
}
