.error.disabled{
    display: none;
}
.disabled{
    display: none;
}
.error-block{
    margin-top: -4px;
}
.error-block li{
    margin-top: 6px;
}
.description{
    text-align: center;
    margin-top: -18px;
    margin-bottom: 16px;
    color: var(--medium-heavy-gray-primary-color);
}
.btn-primary{
    margin-top: -2px;
}