<header class="layout-header">
    <div class="logo">
        <img src="assets/images/bank-logo.png" alt="bank-logo" class="bank-logo">

        <nav class="header-menu menu" [class.compact]="compact">
            <a href="#">About Bank</a>
            <a href="#">Cards</a>
            <a href="#">Deposits</a>
            <a href="#">Credits</a>
            <a href="#">Clients</a>
            <a href="#">Employees</a>
            <a href="#">Vacancies</a>
            <a href="#">Currency Rates</a>
        </nav>


        <img src="assets/images/menu/menu.svg" alt="open-menu" class="menu-icon">
        <img src="assets/images/menu/cross.svg" alt="close-menu" class="menu-icon">

    </div>
    <div class="auth">
        auth
    </div>
</header>
<aside class="sidebar menu" [class.compact]="compact">
    <a href="#">About Bank</a>
    <a href="#">Cards</a>
    <a href="#">Deposits</a>
    <a href="#">Credits</a>
    <a href="#">Clients</a>
    <a href="#">Employees</a>
    <a href="#">Vacancies</a>
    <a href="#">Currency Rates</a>
</aside>

<main class="content">
    <h1>content1</h1>
    <h1>content2</h1>
    <h1>content3</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <router-outlet></router-outlet>
</main>


<app-footer></app-footer>