/*Header*/
.layout-header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    min-height: var(--header-height);
    max-height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray-color);
    background-color: white;
    z-index: 1000;
}
.layout-header >*{
    margin: 20px 44px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bank-logo{
    height: 40px;
    width: auto;
}
.menu-icon{
    display: none;
    height: 30px;
    width: auto;
    cursor: pointer;
}


/*Sidebar*/
.menu{
    display: flex;
    flex-direction: row;
    gap:8px;
    padding: 10px 36px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 18px;
}

.sidebar{
    position: sticky;
    transform: scaleY(1);
    top: calc(var(--header-height) + 1px); /*+1px for header border*/
    border-bottom: 1px solid var(--light-gray-color);
    background-color: white;
    z-index: 1000;
    transition: transform 0.24s ease-in-out; 
    transform-origin: top;
}

.sidebar.compact{
    transform: scaleY(0);
}
.sidebar a{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.12s ease, transform 0.12s ease;
}

.sidebar.compact a{
    opacity: 0;
    transform: translateY(4px);
}

.header-menu{
    display: none;
}

.header-menu.compact{
    display: flex;
}
.menu a:hover{
    background-color: var(--light-gray-color);
    border-radius: 14px;
}
.header-menu{
    padding-left: 0px; 
}

//Menu adaptivity
.header-menu.labtop{
    display: none !important;
}

.menu-icon.labtop.chosen{
    display: block;
}

#adaptive-menu.closed{

}

#adaptive-menu.open{

}


/*Main Content*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--header-height) + 44px); 
    background-color: var(--gray-background);
}
