version: '3.8'

networks:
  bank_network:
    driver: bridge

services:
  bank-mssql:
    image: mcr.microsoft.com/mssql/server:2019-CU24-ubuntu-20.04
    container_name: bank-mssql
    environment:
      - SA_PASSWORD=${BANK_DB_PASS}
      - ACCEPT_EULA=Y
    ports:
      - 1433:1433
    volumes:
      - mssql_bank_data:/var/opt/mssql
      - ../backups:/backups
    networks:
      - bank_network

  transactions-mssql:
    image: mcr.microsoft.com/mssql/server:2019-CU24-ubuntu-20.04
    container_name: transactions-mssql
    environment:
      - SA_PASSWORD=${TRANSACTION_DB_PASS}
      - ACCEPT_EULA=Y
    ports:
      - 1434:1433
    volumes:
      - mssql_transactions_data:/var/opt/mssql
      - ../backups:/backups
    networks:
      - bank_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - bank_network
    restart: unless-stopped

  bank-api:
    build:
      context: .
      dockerfile: ./src/Services/BankService/Bank.API.WebUI/Dockerfile
    env_file:
      - .env.bank
    container_name: bank-api
    ports:
      - 7280:7280
    volumes:
      - bank_uploads:/app/wwwroot/uploads
    networks:
      - bank_network
    depends_on:
      - bank-mssql
      - rabbitmq

  transactions-api:
    build:
      context: .
      dockerfile: ./src/Services/TransactionsService/Transactions.WebUI/Dockerfile
    env_file:
      - .env.transactions
    container_name: transactions-api
    ports:
      - 7281:7281
    networks:
      - bank_network
    depends_on:
      - transactions-mssql
      - rabbitmq
      - bank-api

  frontend:
    build:
      context: .
      dockerfile: ./src/Client/Dockerfile
    container_name: bank-frontend
    networks:
      - bank_network
    depends_on:
      - bank-api
      - transactions-api

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    networks:
      - bank_network
    depends_on:
      - frontend

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    command: certonly --webroot --webroot-path=/var/www/certbot \
      --email your-email@example.com --agree-tos --no-eff-email \
      -d neobank.switzerlandnorth.cloudapp.azure.com

volumes:
  mssql_bank_data:
  mssql_transactions_data:
  bank_uploads:
