version: '3.8'

networks:
  bank_network: 
    driver: bridge
          
services:
  bank-mssql:
    image: mcr.microsoft.com/mssql/server:2019-CU24-ubuntu-20.04
    container_name: bank-mssql
    environment:
      - SA_PASSWORD=${BANK_DB_PASS}
      - ACCEPT_EULA=Y
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P $BANK_DB_PASS -Q 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - 1433:1433
    volumes:
      - mssql_bank_data:/var/opt/mssql
      - ../backups:/backups
    networks:
      - bank_network

  transactions-mssql:
    image: mcr.microsoft.com/mssql/server:2019-CU24-ubuntu-20.04
    container_name: transactions-mssql
    environment:
      - SA_PASSWORD=${TRANSACTION_DB_PASS}
      - ACCEPT_EULA=Y
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P $TRANSACTION_DB_PASS -Q 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - 1434:1433
    volumes:
      - mssql_transactions_data:/var/opt/mssql
      - ../backups:/backups
    networks:
      - bank_network
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASS}
      
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 3

    ports:
      - "5672:5672"
      - "15672:15672"   
    networks:
      - bank_network
    restart: unless-stopped


  bank-api:
    build: 
      context: .
      dockerfile: ./src/Services/BankService/Bank.API.WebUI/Dockerfile
    image: pipsqueak3/neobank-bank-api:latest
    env_file:
      - .env.bank
    container_name: bank-api
    ports: 
      - 7280:7280
    networks:
      - bank_network
    volumes:
      - bank_uploads:/app/wwwroot/uploads
    depends_on:
      bank-mssql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      
  transactions-api:
    build: 
      context: .
      dockerfile: ./src/Services/TransactionsService/Transactions.WebUI/Dockerfile
    image: pipsqueak3/neobank-transactions-api:latest
    env_file:
      - .env.transactions
    container_name: transactions-api
    ports: 
      - 7281:7281
    networks:
      - bank_network
    depends_on:
      transactions-mssql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      bank-api:
        condition: service_started

  frontend:
    build:
      context: .
      dockerfile: ./src/Client/Dockerfile  
    container_name: bank-frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - letsencrypt:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    networks:
      - bank_network
    depends_on:
      - bank-api
      - transactions-api

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: ["/bin/sh", "-c"]
    command: >
      certbot certonly --webroot
      --webroot-path=/var/www/certbot
      --email neobank4424@gmail.com
      --agree-tos
      --no-eff-email
      -d neobank.westeurope.cloudapp.azure.com
    networks:
      - bank_network
    restart: "no"


volumes:
  bank_uploads:
  mssql_bank_data:
  mssql_transactions_data:
  letsencrypt:
  certbot_www:
