.search-block{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    margin-top: -34px;
    column-gap: 80px;
    background-color: white;
    border-bottom: 1px solid var(--dark-gray-background);
    padding: 20px 60px;
}

//Filters
.filters {
  width: 20dvw;                 
  display: flex;
  flex-wrap: wrap;              
  gap: 12px;                    
  align-items: center;
}

.checkbox { display: contents; }

.filters-label {
    padding: 5px 8px;
    text-align: center;
    background-color: var(--medium-gray-border-color);
    border-radius: 14px;
    cursor: pointer;
}

.filters-label:hover {
    background: var(--medium-heavy-gray-primary-color);
    color: #fff;
    transition: background .2s, color .2s;
}

.checkbox input[type="checkbox"]:checked + .filters-label {
    background: var(--dark-primary-color);
    color: #fff;
}
//Search input
.search-input{
    width: 34dvw;
    max-width: 600px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid var(--heavy-dark-primary-color);
    padding-left: 8px;
    font-weight: 500;
}

.sort{
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid var(--heavy-dark-primary-color);
    font-weight: 500;
}

.search-section{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 10px;
}
.search-field{
  position: relative;
  display: inline-block;
}

.search-button{
    position: absolute;
    right: 0;
    top: 50%;   
    transform: translateY(-50%); 
    height: 94%;
    bottom: 0;
    border: none;
    background-color: var(--dark-primary-color);
    cursor: pointer;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .search-block{
        padding: 20px 30px;
        column-gap: 40px;
    }
    .sort{
        width: 160px;
    }
}
@media (max-width: 768px) {
    .search-block{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        row-gap: 14px;
    }
    .search-block{
        padding: 20px 0px 20px 0px;
        column-gap: 40px;
    }
    .filters{
        width: 90dvw;
        margin: 0px 30px;
    }
    .wrap-block{
        display: none;
    }
    .search-section{
        max-width: 99dvw;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
    }
    .search-input{
        width: 60dvw;
    }

    .sort{
        width: 30dvw;
    }
}


