<div class="profile-wrap">
    @if(isAdmin){
        @if($userFullInfo | async; as profile){
            <div class="profile-section-wrap">
                <h1 class="heading user-profile-header">{{'UserProfile' | translate}}</h1>
                <div class="profile-section">
                    <div class="profile-divider">
                        <div class="logo-section">
                            <div class="profile-img">
                                @if(profile?.avatarPath!==null && profile?.avatarPath!==undefined){
                                    <img class="profile-logo" [src]="baseUrl+profile?.avatarPath" alt="profile">
                                }
                                @else {
                                    <img class="profile-logo" [src]="baseUrl+'uploads/default-photo/profile-photo.svg'" alt="profile">
                                }
                            </div>

                            <div class="user-titles">
                                @if(profile?.role===null){
                                    <h4 class="role">{{'User' |translate}}</h4>
                                }
                                @else{
                                    <h4 class="role">{{profile?.role}}</h4>
                                }
                                @if (profile?.isVerified ) {
                                    <h4 class="verified">{{'Verified' |translate}}</h4>
                                }
                                @else {
                                    <h4 class="not-verified">{{'NotVerified' |translate}}</h4>
                                }
                            </div>
                        </div>

                        <div class="profile-info">
                            <h2 class="subheading">{{'PersonalInformation' |translate}}</h2>

                            <div class="perosonal-info">
                                <label class="description-without-lh" for="firstName">{{'FirstName' |translate}}</label>
                                <input name="firstName" id="firstName" disabled [value]="profile.firstName">

                                <label class="description-without-lh" for="surname">{{'Surname' |translate}}</label>
                                <input name="surname" id="surname" disabled [value]="profile.surname">

                                <label class="description-without-lh" for="patronymic">{{'Patronymic' |translate}}</label>
                                <input name="patronymic" id="patronymic" type="text" disabled [value]="profile.patronymic">

                                <label class="description-without-lh" for="dateOfBirth">{{'DateOfBirth' |translate}}</label>
                                <input name="dateOfBirth" id="dateOfBirth" type="date" disabled [value]="profile.dateOfBirth">
                                
                                <label class="description-without-lh" for="taxId">{{'TaxId' |translate}}</label>
                                <input name="taxId" id="taxId" type="text" disabled [value]="profile.taxId">
                            </div>

                            <h2 class="subheading">{{'ContactInformation' |translate}}</h2>
                            <div class="contact-info">
                                <label class="description-without-lh" for="email">{{'Email' |translate}}</label>
                                <input name="email" id="email" type="email" disabled [value]="profile.email">

                                <label class="description-without-lh" for="phoneNumber">{{'PhoneNumber' |translate}}</label>
                                <input name="phoneNumber" id="phoneNumber" type="tel" disabled [value]="profile.phoneNumber">
                            </div>
                        </div>
                    </div>

                </div>
            </div>            

        }
        @else {
            <app-loading></app-loading>
        }
    }
    @else {
        @if($userCroppedInfo | async; as profile){
            <div class="profile-section-wrap">
                <h1 class="heading user-profile-header">{{'UserProfile' |translate}}</h1>
                <div class="profile-section">
                    <div class="profile-divider">
                        <div class="logo-section">
                            <div class="profile-img">
                                @if(profile?.avatarPath!==null && profile?.avatarPath!==undefined){
                                    <img class="profile-logo" [src]="baseUrl+profile?.avatarPath" alt="profile">
                                }
                                @else {
                                    <img class="profile-logo" [src]="baseUrl+'uploads/default-photo/profile-photo.svg'" alt="profile">
                                }
                            </div>

                            <div class="user-titles">
                                @if(profile?.role===null){
                                    <h4 class="role">{{'User' |translate}}</h4>
                                }
                                @else{
                                    <h4 class="role">{{profile?.role}}</h4>
                                }
                                @if (profile?.isVerified ) {
                                    <h4 class="verified">{{'Verified' |translate}}</h4>
                                }
                                @else {
                                    <h4 class="not-verified">{{'NotVerified' |translate}}</h4>
                                }
                            </div>
                        </div>

                        <div class="profile-info">
                            <h2 class="subheading">{{'PersonalInformation' |translate}}</h2>

                            <div class="perosonal-info">
                                <label class="description-without-lh" for="firstName">{{'FirstName' |translate}}</label>
                                <input name="firstName" id="firstName" disabled [value]="profile.firstName">

                                <label class="description-without-lh" for="surname">{{'Surname' |translate}}</label>
                                <input name="surname" id="surname" disabled [value]="profile.surname">

                                <label class="description-without-lh" for="patronymic">{{'Patronymic' |translate}}</label>
                                <input name="patronymic" id="patronymic" type="text" disabled [value]="profile.patronymic">

                                <label class="description-without-lh" for="dateOfBirth">{{'DateOfBirth' |translate}}</label>
                                <input name="dateOfBirth" id="dateOfBirth" type="date" disabled [value]="profile.dateOfBirth">
                                
                            </div>

                            <h2 class="subheading">{{'ContactInformation' | translate}}</h2>
                            <div class="contact-info">
                                <label class="description-without-lh" for="email">{{'Email' | translate}}</label>
                                <input name="email" id="email" type="email" disabled [value]="profile.email">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
        @else {
            <app-loading></app-loading>
        }
    }


    <div class="products">
        <app-cards></app-cards>
        @if(isAdmin){
            <!--TO DO:
                Deposits component
                Credits component
            -->
        }
    </div>
</div>

