:host {
  display: block;
  width: 100%; 
}

.card-link {
  position: relative; 
  overflow: hidden;
}
.card-link.blocked::after,
.card-link.expired::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 3px 0;
}

.card-link.blocked::after{
    background: rgba(255, 0, 0, 0.7);
    content: "BLOCKED"; 
}

.card-link.expired::after {
    content: "EXPIRED";
    background: rgba(128, 128, 128, 0.7);
}
.add-block{
    gap:14px;
}

.make-transfer{
    background-color: var(--dark-primary-color);
    color: white;
	border: none;
	font-size: 16px;
	font-weight: 500;
	padding: 14px 31.5px;
	cursor: pointer;
	border-radius: 14px;
	text-decoration: none;
}
