<div class="page">
    <header class="layout-header">
        <div class="logo">
            <a [routerLink]="['/']">
                <img src="assets/images/bank-logo.png" alt="bank-logo" class="bank-logo">
            </a>

            <nav class="header-menu menu" [class.compact]="compact" [class.labtop]="labtop()">
                <a [routerLink]="['/about']" routerLinkActive="active">{{'AboutBank' | translate}}</a>
                <a [routerLink]="['/cards']" routerLinkActive="active">{{'Cards' |translate}}</a>
                <a href="#">{{'Deposits' | translate}}</a>
                <a href="#">{{'Credits' | translate}}</a>
                <a href="#">{{'Clients' | translate}}</a>
                <a href="#">{{'Employees' | translate}}</a>
                <a href="#">{{'Vacancies' | translate}}</a>
                <a [routerLink]="['/currency-rates']" routerLinkActive="active">{{'CurrencyRates' | translate}}</a>
            </nav>

            <img src="assets/images/menu/menu.svg" alt="open-menu" #openMenu class="menu-icon chosen" [class.labtop]="labtop()">
            <img src="assets/images/menu/cross.svg" alt="close-menu" #closeMenu class="menu-icon" [class.labtop]="labtop()">
        </div>
        <div class="auth">
            <div class="language-switcher">
                <h1 class="language-name" #openLanguageWindow>{{chosenLanguage}}&#9662;</h1>
                <form [class.none]="!showLanguageWindow()" class="language-form" #languageForm>
                    <label>
                        <input type="radio" [(ngModel)]="chosenLanguage" name="language" value="en" (ngModelChange)="onLanguageChange()"/> EN
                    </label>
                    <label>
                        <input type="radio" [(ngModel)]="chosenLanguage"  name="language" value="uk" (ngModelChange)="onLanguageChange()"/> UA
                    </label>
                </form>
            </div>

            <app-own-profile></app-own-profile>
        </div>
    </header>
    <aside class="sidebar menu" #adaptiveMenu id="adaptive-menu" [class.compact]="compact" [class.labtop]="labtop()" [class.mobile]="mobile()">
        <a [routerLink]="['/about']" routerLinkActive="active">{{'AboutBank' | translate}}</a>
        <a [routerLink]="['/cards']" routerLinkActive="active">{{'Cards' |translate}}</a>
        <a href="#">{{'Deposits' | translate}}</a>
        <a href="#">{{'Credits' | translate}}</a>
        <a href="#">{{'Clients' | translate}}</a>
        <a href="#">{{'Employees' | translate}}</a>
        <a href="#">{{'Vacancies' | translate}}</a>
        <a [routerLink]="['/currency-rates']" routerLinkActive="active">{{'CurrencyRates' | translate}}</a>
    </aside>
    <main #main class="content">
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
</div>