@if(currencies$ | async; as currencies) {
    <h1 class="subheading-without-lh mb-minus-8">NBU Rates</h1>
    <table class="currencies-table">
        <tr>
            <td>Currency</td>
            <td>NBU Rates</td>
        </tr>
        
        @for (currency of currencies; track $index) {
            <tr>
                <td>{{currency.cc}}</td>
                <td>{{currency.rate}}</td>
            </tr>
        }
        
    </table>
    <h1 class="subheading-without-lh mb-minus-8">NeoBank Rates</h1>
    <table class="currencies-table">
        <tr>
            <td>Currency</td>
            <td>Bank Rates (for buying)</td>
            <td>Bank Rates (for selling)</td>
            <td>Actions</td>
        </tr>
        @for (currency of currencies; track $index) {
            <tr>
                <td>{{currency.cc}}</td>
                <td>{{currency.neoBankBuyCource}}</td>
                <td>{{currency.neoBankSellCource}}</td>
                <td><button class="exchange">Exchange</button></td>
            </tr>
        }
    </table>
}
@else{
    <div class="spinner-wrapper">
        <app-loading></app-loading> 
    </div>
}