@if(currencies$ | async; as currencies) {
    <h1 class="subheading-without-lh mb-minus-8">{{'NBURates' |translate}}</h1>
    <table class="currencies-table">
        <tr>
            <td>{{'Currency' | translate}}</td>
            <td>{{'NBURates' |translate}}</td>
        </tr>
        
        @for (currency of currencies; track $index) {
            <tr>
                <td>{{currency.cc}}</td>
                <td>{{currency.rate}} ₴</td>
            </tr>
        }
        
    </table>
    <h1 class="subheading-without-lh mb-minus-8">{{'NeoBankRates' |translate}}</h1>
    <table class="currencies-table">
        <tr>
            <td>{{'Currency' |translate}}</td>
            <td>{{'BankRatesForBuying' |translate}}</td>
            <td>{{'BankRatesForSelling' |translate}}</td>
            <td>{{'Actions' | translate}}</td>
        </tr>
        @for (currency of currencies; track $index) {
            <tr>
                <td>{{currency.cc}}</td>
                <td>{{currency.neoBankBuyCource}} ₴</td>
                <td>{{currency.neoBankSellCource}} ₴</td>
                <td><button class="exchange" (click)="openExchangeWindow.set(true)">{{'Exchange' |translate}}</button></td>
            </tr>
        }
    </table>
}
@else{
    <div class="spinner-wrapper">
        <app-loading></app-loading> 
    </div>
}

@if(openExchangeWindow()){
    <app-exchange-currency-window
    (closeWindow)="openExchangeWindow.set(false)"
    (success)="successExchange()"
    (error)="errorExchange($event)"
    >

    </app-exchange-currency-window>
}

@if(showSuccessWindow()){
    <app-success-message
    [message]="'Success' | translate"
    [secondMessage]="'TransactionCreated' | translate"
    ></app-success-message> 
}
@if(showErrorWindow()){
    <app-error-message
        message="Error!"
        [secondMessage]="errorMessage!"
    ></app-error-message>
}