.action-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.action-buttons .add {
    margin-top: 10px;
    display: inline-block;
    background-color: var(--green-color);
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s ease;
    cursor: pointer;
}

