.error.disabled{
    display: none;
}
.disabled{
    display: none;
}
.error-block{
    margin-top: -4px;
}
.error-block li{
    margin-top: 6px;
}
.description{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 12px;
    color: var(--medium-heavy-gray-primary-color);
}
.header-description{
    margin-top: -18px;
    margin-bottom: 16px;
}
.description.resend{
    text-align: left;
    margin-bottom: -8px;
}
.description.resend strong{
    font-weight: 600;
}
.resend-btn{
    cursor: pointer;
}

.back-btn{
    height: 20px;
    width: auto;
    position: absolute;
    cursor: pointer;
}