.error.disabled{
    display: none;
}
.disabled{
    display: none;
}
.error-block{
    margin-top: -4px;
}
.error-block li{
    margin-top: 6px;
}   

/*.auth-wrap{
    height: 100dvh !important;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
}*/